@font-face {
  font-family: 'iconfont';  /* project id 1674603 */
  src: url('https://at.alicdn.com/t/font_1674603_gx8lxtwaht.eot');
  src: url('https://at.alicdn.com/t/font_1674603_gx8lxtwaht.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1674603_gx8lxtwaht.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1674603_gx8lxtwaht.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1674603_gx8lxtwaht.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1674603_gx8lxtwaht.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rili:before {
  content: "\e611";
}

.icon-huomiao:before {
  content: "\e603";
}

.icon-huomiao1:before {
  content: "\e7eb";
}

.icon-addfollow:before {
  content: "\e60e";
}

.icon-tianjia:before {
  content: "\e637";
}

.icon-tianjiayonghu:before {
  content: "\e60f";
}

.icon-bangzhuzhongxin:before {
  content: "\e652";
}

.icon-xiaolaba:before {
  content: "\e64c";
}

.icon-biji:before {
  content: "\e649";
}

.icon-erji:before {
  content: "\e848";
}

